#postgres
POSTGRES_PASSWORD=
POSTGRES_USER=
POSTGRES_DB= 

#postgres datbase used by cocoindex
COCOINDEX_DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@postgres:5432/${POSTGRES_DB}

# AWS
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AMAZON_S3_BUCKET_NAME= 
AMAZON_S3_SQS_QUEUE_URL= 
AWS_DEFAULT_REGION=

# Neo4j
NEO4J_USER=
NEO4J_PASSWORD=
NEO4J_URI=neo4j://${NEO4J_USER}:7687
NEO4J_AUTH=${NEO4J_USER}/${NEO4J_PASSWORD}

#GEMINI API KEY
GEMINI_API_KEY=

#Redis
REDIS_PORT=6378
REDIS_HOST=redis